<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="~/JS/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/JS/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>*@
    <script src="~/JS/jquery-2.1.1.min.js"></script>
    
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
